/* ============= GOOGLE FONTS IMPORT ============== */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {
    /* ========= LIGHT MODE COLORS ========== */
    --button-background: #14505B;
    --button-background-hover: #0F373F;
    --sub-title-color: #104146;
    --description-text: #859F9E;
    --top-page-button:#2C626E;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
    --hue-color: 190;
    --text-color-light: hsl(var(--hue-color), 8%, 60%);

    /* ========= DARK MODE COLORS ========== */

}

body {
    border: none;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}
/* =========== MAIN SECTION + HEADER + NAV ============= */
.header-main-container {
    height: 100vh;
    background-image: url('../img/home1.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 99;
}
nav {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
}
#logo {
    color: white;
    font-weight: 600;
}
.ul-box {
    display: flex;
}
.ul-box ul {
    display: flex;
    gap: 4em;
    align-items: center;
}
.ul-box ul li {
    list-style-type: none;
}
.ul-box ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.moon-box {
    margin-left: -3em;
}
.ri-moon-line {
    color: white;
}
.hidden-menu-hamburger {
    display: none;
    cursor: pointer;
}
.hidden-menu-hamburger i {
    font-size: 2.5em;
    color: white;
}
main {
    padding-top: 83px;
}

/* ============ ACTIVE STATES TOGGLE =============== */

.active-hidden-menu {
    right: 0 !important;
}
.close-hidden-menu {
    right: -70%;
}
.border-hidden {
    border-bottom: 3px solid var(--sub-title-color);
}
.header-scrolled {
    background-color: white !important;
    box-shadow: 1px 1px 5px gray;
}
.scrolled-logo {
    color: var(--button-background-hover) !important;
}
.scrolled-nav_a {
    color: var(--button-background-hover) !important;
}
.scrolled-ri-moon-line {
    color: var(--button-background-hover);
}
.scrolled-go-to-top {
    bottom: 15% !important;
}

/* =========== HIDDEN MENU =========== */

.hidden-menu {
    position: fixed;
    background-color: white;
    width: 70%;
    height: 100vh;
    right: -70%;
    top: 0;
    z-index: 999;
    display: none;
    transition: 0.3s;
}
.close-box i {
    font-size: 3em;
    color: #0F373F;
    margin: 0.2em 0.4em;
    cursor: pointer;
}
.hidden-menu ul a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.hidden-menu ul a:hover {
    color: var(--button-background-hover);
}
.dark-mode-box {
    color: var(--button-background-hover);
    display: flex;
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.dark-mode-box p {
    font-size: 0.8em;
    align-self: center;
}
.dark-mode-box i {
    color: var(--button-background-hover);
    margin-left: 2em;
    cursor: pointer;
    align-self: center;
    font-size: 1.5em;
}

/* =========== GO TO TOP BUTTON ============ */

.go-to-top-button {
    position: fixed;
    bottom: -15%;
    right: 3%;
    background-color: var(--button-background);
    padding: 0.2em 0.5em;
    transition: 0.3s;
    opacity: 0.8;
    z-index: 99;
}
.go-to-top-button i {
    color: white;
    font-size: 1.3em;
}

/* ======= MAIN LEFT SIDE ======== */

.left-content-description {
    width: 30em;
    padding-top: 3em;
}
.left-content-description h1 {
    font-size: 4em;
    text-shadow: 0 0 3px black;
}
.beaches span {
    font-weight: bolder;
}
.button-box {
    margin-top: 2em;
}
.button-box button {
    text-decoration: none;
    background-color: var(--button-background);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.8em 2em;
    border: none;
    transition:  0.3s;
}
.button-box button:hover {
    background-color: var(--button-background-hover);
}
.socials-box {
    width: 10em;
    margin-top: 3em;
}
.socials-box img {
    width: 1.5em;
}
.socials-box a:hover {
    transform: translateY(-0.5em);
    transition: 0.3s;
}

/* ======= MAIN RIGHT SIDE ======== */

.places_to_visit {
    position: absolute;
    right: 20%;
    bottom: 10%;
    width: 22em;
    background-color: var(--button-background);
    padding: 1em;
    z-index: 0;
}
.places_description {
    width: 10em;
}
.more-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
}
.more-button img {
    width: 1em;
    font-size: 0.8em;
    margin-left: 0.5em;
}
.place-image {
    width: 10em;
    overflow: hidden;
}
.place-image img:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

/* ========== SECTION ABOUT =========== */

.about {
    padding-top: 8em;
    padding-bottom: 8em;
    overflow: hidden;
}
        /* Left Side */

.about-left-side {
    width: 30em;
}
.about-left-side h2 {
    color: var(--sub-title-color);
    font-size: 1.7em;
    font-weight: bold;
}
.about-left-side p {
    color: var(--top-page-button);
}
.about-button-box {
    margin-top: 2em;
}
.about-button-box a {
    text-decoration: none;
    color: white;
    background-color: var(--button-background);
    padding: 1em 2em;
}

    /* Right Side */

.picture1-box {
    max-width: 13em;
    overflow: hidden;
}
.picture1-box img:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
.picture2-box {
    max-width: 18em;
    overflow: hidden;
}
.picture2-box img:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

/* ========= SECTION DISCOVER ============ */

.discover {
    margin-bottom: 4em;
}
.discover h2 {
    color: var(--sub-title-color);
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 2em;
}
.discover-card {
    width: 237px;
}
.swiper-box {
    max-width: 50%;
}
.slide-img-box {
    width: 15em;
    overflow: hidden;
}



/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}






/* ============= MEDIA QUERIES ============== */

@media (max-width: 1200px) {
    .container-left-side {
        padding: 0;
    }
    .left-content-description {
        padding-top: 83px;
    }
}
@media (max-width: 990px) {
    .places_to_visit {
        transform: scale(0.9);
        right: 2%;
        bottom: 2%;
    }
    .swiper-box {
        max-width: 80%;
    }
}
@media (max-width: 768px) {
    .ul-box {
        display: none;
    }
    .hidden-menu {
        display: block;
    }
    .hidden-menu-hamburger {
        display: block;
    }
    .about {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .swiper-box {
        max-width: 95%;
    }
}
@media (max-width: 580px) {
    .left-content-description {
        width: 25em;
    }
    .left-content-description h1 {
        font-size: 3em;
    }
    .socials-box {
        margin-top: 2.5em;
        flex-direction: column;
        gap: 2em;
    }
    .socials-box a:hover {
        transform: none;
    }
    .swiper-box {
        transform: scale(0.9);
    }
}
@media (max-width: 574px) {
    .logo-box {
        margin-left: 1em;
    }
    .hidden-menu-fours {
        margin-right: 1em;
    }
    nav {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 450px) {
    .places_to_visit {
        transform: scale(0.7);
        right: 1%;
        bottom: 1%;
    }
}
@media (max-width: 412px) {
    .left-content-description {
        width: 20em;
    }
    .socials-box {
        margin-top: 1.5em;
    }
}